# This script is to make pipeline for housing data based on the book

## Download data

In [2]:
import os
import pandas as pd
import numpy as np

In [3]:
pd.set_option('display.max_rows', 30000)

In [4]:
def load_housing_data(housing_path='datasets/housing'):
    """Loads Housing data into a pandas dataframe.
    
    # Arguments:
        housing_path: the path where `housing.csv` exists
    
    # Returns:
        data, pd.DataFrame: the housing data as a pandas dataframe
    """
    data_path = os.path.join(housing_path, "housing.csv")
    return pd.read_csv(data_path)

In [5]:
housing = load_housing_data()

In [6]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

all attribute are numerical except ocean_proximity

## split train test set (stratified sampling)

In [7]:
# using median income to create strata
housing['income_cat'] = pd.cut(x=housing['median_income'], 
                               bins=[0, 1.5, 3, 4.5, 6, np.inf], 
                               labels=[1, 2, 3, 4, 5])

In [8]:
housing[['income_cat','median_income']].head()

  income_cat  median_income
0          5         8.3252
1          5         8.3014
2          5         7.2574
3          4         5.6431
4          3         3.8462

In [9]:
from sklearn.model_selection import StratifiedShuffleSplit

In [10]:
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(X=housing, y=housing['income_cat']):
    strat_train_set = housing.loc[train_index]
    strat_test_set = housing.loc[test_index]

Now that we have a test set that is representative of income_cat's distribution, it's time to remove it:

In [11]:
for set_ in (strat_train_set, strat_test_set):
    set_.drop('income_cat', axis=1, inplace=True)

## Prepare data for traing ML

In [12]:
housing = strat_train_set.drop('median_house_value', axis = 1)
housing_labels = strat_train_set['median_house_value'].copy()
housing.shape, housing_labels.shape

((16512, 9), (16512,))

### Data cleaning
missing value

In [13]:
housing.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        158
population              0
households              0
median_income           0
ocean_proximity         0
dtype: int64

### housing numerical columns

In [14]:
housing_num = housing.drop('ocean_proximity', axis = 1)

In [15]:
from sklearn.base import TransformerMixin, BaseEstimator

In [16]:
rooms_ix, bedrooms_ix, population_ix, households_ix = 3, 4, 5, 6